body {
  background-color: #F2F2F2;
}

.video-aulas-page {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.main-content {
  flex-grow: 1;
}

.content {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.video-section {
  display: flex;
  flex-direction: column;
}

.header-aula {
  width: 778px;
  height: 62px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 31px;
  border-top-left-radius: 10px;
}

.video-container {
  width: 654px;
  height: 392px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
}

.aulas-list {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
}

.aula-item {
  width: 278px;
  height: 62px;
  background-color: #fff;
  border-bottom: 0.01cm solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  cursor: pointer;
}

.aula-item.selected {
  background-color: #e0e0e0;
}

.aulas-first {
  text-align: center;
  background-color: white;
  border-bottom: 0.01cm solid #d9d9d9;
  border-left: 0.01cm solid #d9d9d9;
  border-top-right-radius: 10px;
}

.popup-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 10;
  transition: opacity 0.5s ease;
}

.popup-button.hide {
  opacity: 0;
  pointer-events: none;
}

.popup-button:hover {
  background-color: #0056b3;
}

.popup-image {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
  z-index: 5;
}

.popup-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.popup-image.active {
  height: 500px;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.close-popup:hover {
  background-color: #d32f2f;
}
